.container {

    // 轮播图区域
    .banner {
        width: 100%;
        height: 300rpx;
        image {
            width: 100%;
            height: 100%;
        }
    }
    // 五个导航区域
    .navContainer {
        display: flex;
        justify-content: space-between;
        padding: 0 20rpx;
        .navItem {
            display: flex;
            flex-direction: column;
            align-items: center;
            .iconfont {
                width: 100rpx;
                height: 100rpx;
                border-radius: 50rpx;
                background-color: rgb(240, 19, 19);
                color: #fff;
                text-align: center;
                line-height: 100rpx;
                font-size: 50rpx;
            }
            text {
                font-size: 26rpx;
                margin-top: 20rpx;
            }
        }
    }
    // 推荐歌曲区域
    .recommendContainner {
        padding: 0 20rpx;
    }
    // 内容区域
    .recommendScroll {
        display: flex;
        height: 300rpx;
        .scrollItem {
            width: 200rpx;
            margin-right: 20rpx;
            image {
                width: 200rpx;
                height: 200rpx;
                border-radius: 10rpx;
            }
            text {
                font-size: 26rpx;
                /* 单行文本溢出隐藏 省略号代替 */
                /*display: block;*/
                /*white-space: nowrap;*/
                /*overflow: hidden;*/
                /*text-overflow: ellipsis;*/

                /* 多行文本溢出隐藏 省略号代替*/
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical; /*设置对其模式*/
                -webkit-line-clamp: 2; /*设置多行的行数*/
            }
        }
    }
}